*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}
html,body {
    width: 100%;
    height: 100%;
    background-color: #c7f059;
}
.content{
    margin: auto;
    display: grid;
}
.heading{
    display: grid;
    justify-content: center;
    /* align-items: center; */
    margin-top: 2rem;
}
h3{
    text-align: right;
}
h1 {
	/* text-align: center; */
    margin: auto;
    animation: rupam 5s ease-in-out infinite ;
}
/* welcome animation */
@keyframes rupam{
    0%{
        color: rgb(25, 255, 25);
    }20%{
        color: rgb(173, 171, 0);
    }40%{
        color: rgb(211, 106, 9);
    }60%{
        color: rgb(255, 49, 49);
    }80%{
        color: rgb(240, 60, 216);
    }100%{
        color: rgb(255, 121, 11);
    }
}

.qrbox{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-row-gap: 35px;
    margin: auto;
}
img{
    height: 350px;
    width: 350px;
    padding: 1rem;
    border: 1.5px solid #2a691e;
}
.imgg{
    display: grid;
    /* justify-content: center; */
    margin: auto;
    align-items: center;
}
textarea{
    outline: none;
    height: 100px;
    width: 450px;
    padding: 0.5rem;
    margin: auto;
    border: 2px solid #72f059;
    border-radius: 0.5rem;
    grid-column: 1/-1;
    font-size:larger;
}
button{
    font-size: 1rem;
    outline: none;
    width: 170px;
    background-color: rgb(255, 238, 0);
    border: 2px solid black;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    transition: background-color 0.2s;
    cursor: pointer;
}
button:hover {
    background-color: #ffc400;
}
.btn{
    margin: auto ;
    display: inline-flex;
    grid-template-columns: 1fr;
    column-gap: 120px;
}
